# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# node modules
**/node_modules/
# IDE files
.DS_Store
*.iws
*.ipr
*.iml
*.swp
/out
/.settings/
.idea
