version: "3.3"
services:
  sanitize-dashboards:
    build:
      context: validator
      dockerfile: sanitizeDashboards.Dockerfile
    volumes:
      - ./definitions/:/definitions/
      - ./relationships/:/relationships/
  validate-definitions:
    build:
      context: validator
      dockerfile: validateDefinitions.Dockerfile
    volumes:
      - ./definitions/:/definitions/
      - ./relationships/:/relationships/