relationships:
  - name: apmCallsDatabase
    version: 1
    origins:
      - APM Metrics
    conditions:
      - attribute: metricName
        regex: "^datastore/instance/([^/]*/([^/]*\\.rds\\.amazonaws\\.com[^/]*)/.*"
    relationship:
      expires: P75M
      relationshipType: CALLS
      source:
        extractGuid:
          attribute: entity.guid
      target:
        lookupGuid:
          candidateCategory: DATABASE
          fields:
            - field: endpoint
              attribute: metricName__4

