relationships:
  - name: apmApplicationCallsInfraOracleDbInstanceTimeslice
    version: "1"
    origins:
      - APM Metrics
    conditions:
      - attribute: metricName
        startsWith: "Datastore/instance/Oracle/"
    relationship:
      expires: PT75M
      relationshipType: CALLS
      source:
        extractGuid:
          attribute: entity.guid
      target:
        lookupGuid:
          candidateCategory: ORACLEDBINSTANCE
          fields:
            - field: dbHostname
              attribute: metricName__4
            - field: hostPort
              attribute: metricName__5

  - name: apmApplicationCallsInfraOracleDbInstanceByHost
    version: "1"
    origins:
      - APM Metrics
    conditions:
      - attribute: metricName
        regex: "^[Dd]atastore/instance/Oracle/[^/]+/[0-9]+"
    relationship:
      expires: PT75M
      relationshipType: CALLS
      source:
        extractGuid:
          attribute: entity.guid
      target:
        lookupGuid:
          candidateCategory: ORACLEDBINSTANCE
          fields:
            - field: hostAddress
              attribute: metricName__4
            - field: hostPort
              attribute: metricName__5
