relationships:
  - name: k8sDeploymentContainsPod
    version: "1"
    origins: 
      - Kubernetes Integration
    conditions:
      - attribute: eventType
        anyOf: [ "K8sPodSample" ]
    relationship:
      expires: P75M
      relationshipType: CONTAINS
      source:
        buildGuid:
          account:
            lookup: true 
          domain:
            value: INFRA
          type:
            value: KUBERNETES_DEPLOYMENT
            valueInGuid: NA
          identifier:
            fragments:
              - value: "k8s:"
              - attribute: clusterName
              - value: ":"
              - attribute: namespaceName
              - value: ":deployment:"
              - attribute: deploymentName
            hashAlgorithm: FARM_HASH
      target:
        extractGuid:
          attribute: entityGuid
          entityType:
            value: KUBERNETES_POD
  - name: otelKsmK8sDeploymentManagesPod
    # use kube-state-metrics kube_deployment_status_condition metric
    version: "1"
    origins: 
      - OpenTelemetry
    conditions:
      - attribute: metricName
        anyOf: [ "kube_deployment_status_condition" ]
      - attribute: newrelicOnly
        anyOf: [ "true" ]
    relationship:
      expires: P75M
      relationshipType: MANAGES
      source:
        extractGuid:
          attribute: entity.guid
      target:
        lookupGuid:
          candidateCategory: KUBERNETES_POD
          fields:
            - field: k8s.deployment.name # deployment name of deployment
              attribute: k8s.deployment.name # deployment of pod
            - field: k8s.namespace.name # namespace of deployment
              attribute: k8s.namespace.name # namespace of pod
            - field: k8s.cluster.name # cluster of deployment
              attribute: k8s.cluster.name # cluster of pod